@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease forwards;
}


.animate-slide-up {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-181px); /* Height of your sticky div */
  }
  to {
    transform: translateY(0);
  }
}

/* Add this to your CSS file or within a <style> tag in your component */
@keyframes dropdown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; /* Adjust according to your content */
    opacity: 1;
  }
}

@keyframes dropup {
  from {
    max-height: 500px; /* Adjust according to your content */
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.dropdown {
  overflow: hidden;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dropdown-enter {
  animation-name: dropdown;
}

.dropdown-leave {
  animation-name: dropup;
}


@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-181px); /* Height of your sticky div */
  }
}
